html, body{
  height:100%;
}

#main {
  background-color:#5b6c7f;
  padding:0px;
}

#pictures {
  align-self:center;
}

.card-container {


}

.mycard {
  padding:3px;
  background-color:#e1eaf4;
  padding-top:3px;
  border-radius:5px;
  margin:20px;
  margin-bottom:0;
}

.cardimage {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.textbox {
  /* background-color:white; */
  text-align:center;
  overflow:hidden;
}
