html, body{
  height:100%;
}

#main {
  background-color:#5b6c7f;
  padding:0px;
  width:100%;
}

#pictures {
  align-self:center;
}

.card-container {


}

.mycard {
  padding:4px;
  padding-bottom:50px;
  background-color:#e1eaf4;
  border-radius:5px;
  margin:20px;
  margin-bottom:0;
  position:relative;
  max-width:100%;
}

.cardimage {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
}

.textbox {
  /* background-color:white; */
  position:absolute;
  bottom:50;
  width:100%;
  text-align:center;
}
