html, body{
  height:100%;
}

.navbar {
  background-color:#e1eaf4;
}

#artwork-link, #contact-link, #projects-link {
  color: rgba(0,0,0,0.8);
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  margin-top: 1px;
  /* border-color: black; */
}

#artwork-link:hover, #contact-link:hover, #projects-link:hover {
  color: rgba(0,0,0,0.5)
}

#brand {
  border-right:1px solid;
  border-color: #888888;
  padding-right:20px
}

#main {
  background-color:#5b6c7f;
  padding:0px;
  width:100%;

}

#content {
}

#pictures {
  align-self:center;
  padding-top:20px;
}


.mycard {
  padding-top:1px;
  padding-bottom:50px;
  background-color:#e1eaf4;
  border-radius:5px;
  margin:20px;
  margin-bottom:0;
  position:relative;
  max-width:95%;
}

.cardimage {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  max-width:calc(100% - 2px);
}

.textbox {
  /* background-color:white; */
  position:absolute;
  bottom:50;
  width:100%;
  text-align:center;
}
